.container{
    display: flex;
    align-items: center;
   margin-top: 65px;
   gap: 60px;
   background: white;
   padding: 250px 120px 166px 120px;
  
  
}

.container2{
    width: 90%;
}

.singleItemTrans{
    transform: translateX(280px);
}