.container{
    padding:100px 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.title{
    font-size: 54px;
    font-weight: 600;
    color: #003B79;
}

.reviewList{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    max-width: 100%;
    gap: 47px;
    min-height: 380px;
   
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px
}
::-webkit-scrollbar-button {
    background: white
}
::-webkit-scrollbar-track-piece {
    background: white
}
::-webkit-scrollbar-thumb {
    background: white
}